nav.top-bar(data-topbar="", role="navigation")
  ul.title-area
    li.name
      h1
        a New Project
  
  section.top-bar-section
    ul.left  
      li
        a(href="#") fisrt
      li
        a(href="#") second
